* {
  margin: 0;
  padding: 0;
  font-family: "Slabo 27px", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #676d0e37;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  /* background: #3a4452; */
  background: #100223b0;
  padding: 20px;
  border-radius: 40px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  margin: 15px;
}
form .display {
  display: flex;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  margin: 20px 0;
  border-radius: 30px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 50px;
  box-shadow: none;
}

form input.equal {
  width: 170px;
}

form input.operator {
  color: rgb(209, 209, 12);
}
